<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jumota.uoolo.auth.mapper.DemoMapper">

    <resultMap id="demoInfoMap" type="com.jumota.uoolo.auth.entity.Demo">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="author" column="author"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>
    <select id="getDemoById" resultType="Demo">
        select *
        from demo_info a
        where a.id = #{id}
    </select>
    <insert id="createDemo">
        insert into demo_info(
            id,
            create_time,
            del_flag,
            author,
            title,
            content
        )values(
            #{id},
            #{createTime},
            #{delFlag},
            #{author},
            #{title},
            #{content}
        )
    </insert>

</mapper>